/*Titulo com botao*/
.button {
    font-style: italic;
    font-size: 40px;
    tranparent: true;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(6, 156, 243);
    width: 100%;
}

/* Estilos para o corpo da página */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(204, 220, 235);

}

/* Botão */
.menu-btn {
    font-size: 25px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Menu lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: rgb(6, 156, 243);
    transition: 0.3s;
    padding-top: 60px;
    z-index: 2;
}

.sidebar a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.sidebar a:hover {
    background: #087ae6;
}

.sidebar.active {
    left: 0;
}

/* Overlay (fundo escuro) */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;

    transition: 0.3s;
    z-index: 1;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Estilos para o conteúdo principal */
.welcome {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-top: 10px;
    font-size: 50px;
    color: rgb(12, 12, 12);
    font-weight: 700;
    margin: 20px;

}

body {
    font-family: 'Inter', sans-serif;
    color: #1a1a1a;
}

/* Estilos para o botão de cadastro */
.cadastro {
    background-color: rgb(6, 156, 243);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin: 20px;

}

.P {
    font-size: 18px;
    color: #333;
    margin: 20px;
    margin-top: -20px;
}

btn {
    background: #7B3FE4;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    /* espaço entre ícone e texto */
    font-weight: 600;
    cursor: pointer;
}

.btn i {
    font-size: 16px;
}